In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
np.random.seed(10)

In [5]:
df = pd.DataFrame(randn(5,4),['A',"B",'C','D','E'],['W','X','Y','Z'])

In [6]:
df

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013
E  0.400210 -0.337632  1.256472 -0.731970

In [7]:
df['W']

A   -1.977728
B    1.123691
C   -0.271248
D    0.132708
E    0.400210
Name: W, dtype: float64

In [8]:
type(df['W'])

pandas.core.series.Series

In [9]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df['W']

A   -1.977728
B    1.123691
C   -0.271248
D    0.132708
E    0.400210
Name: W, dtype: float64

In [12]:
df[['W','Z']]

          W         Z
A -1.977728  2.384967
B  1.123691  1.397996
C -0.271248 -0.549309
D  0.132708  0.195013
E  0.400210 -0.731970

In [14]:
df['new'] = df['W'] + df['Y']

In [15]:
df

          W         X         Y         Z       new
A -1.977728 -1.743372  0.266070  2.384967 -1.711658
B  1.123691  1.672622  0.099149  1.397996  1.222840
C -0.271248  0.613204 -0.267317 -0.549309 -0.538565
D  0.132708 -0.476142  1.308473  0.195013  1.441181
E  0.400210 -0.337632  1.256472 -0.731970  1.656682

In [19]:
df.drop('new',axis=1,inplace=True)

In [20]:
df

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013
E  0.400210 -0.337632  1.256472 -0.731970

In [21]:
df.drop('E',axis=0)

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013

In [22]:
df.shape

(5, 4)

In [24]:
df[['Z','X']]

          Z         X
A  2.384967 -1.743372
B  1.397996  1.672622
C -0.549309  0.613204
D  0.195013 -0.476142
E -0.731970 -0.337632

In [25]:
# rows
df

          W         X         Y         Z
A -1.977728 -1.743372  0.266070  2.384967
B  1.123691  1.672622  0.099149  1.397996
C -0.271248  0.613204 -0.267317 -0.549309
D  0.132708 -0.476142  1.308473  0.195013
E  0.400210 -0.337632  1.256472 -0.731970

In [26]:
df.loc['A']

W   -1.977728
X   -1.743372
Y    0.266070
Z    2.384967
Name: A, dtype: float64

In [27]:
df.iloc[2]

W   -0.271248
X    0.613204
Y   -0.267317
Z   -0.549309
Name: C, dtype: float64

In [28]:
df.loc['B','Y']

0.09914921583524362

In [29]:
df.loc[['A','B'],['W','Y']]

          W         Y
A -1.977728  0.266070
B  1.123691  0.099149