In [22]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [23]:
# index levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [24]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [25]:
inside

[1, 2, 3, 1, 2, 3]

In [26]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [27]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [28]:
df

             A         B
G1 1  0.776119 -0.278078
   2 -1.462912 -0.644274
   3 -0.508323 -1.462391
G2 1 -0.156558  0.476871
   2 -1.616486 -0.399097
   3 -2.456361  1.041530

In [31]:
df.loc['G1']

          A         B
1  0.776119 -0.278078
2 -1.462912 -0.644274
3 -0.508323 -1.462391

In [32]:
df

             A         B
G1 1  0.776119 -0.278078
   2 -1.462912 -0.644274
   3 -0.508323 -1.462391
G2 1 -0.156558  0.476871
   2 -1.616486 -0.399097
   3 -2.456361  1.041530

In [34]:
df.index.names = ['Groups','Num']

In [35]:
df

                   A         B
Groups Num
G1     1    0.776119 -0.278078
       2   -1.462912 -0.644274
       3   -0.508323 -1.462391
G2     1   -0.156558  0.476871
       2   -1.616486 -0.399097
       3   -2.456361  1.041530

In [37]:
df.loc['G2'].loc[2]['B']

-0.39909663056763983

In [38]:
df

                   A         B
Groups Num
G1     1    0.776119 -0.278078
       2   -1.462912 -0.644274
       3   -0.508323 -1.462391
G2     1   -0.156558  0.476871
       2   -1.616486 -0.399097
       3   -2.456361  1.041530

In [39]:
df.loc['G1']

            A         B
Num
1    0.776119 -0.278078
2   -1.462912 -0.644274
3   -0.508323 -1.462391

In [40]:
df.xs('G1')

            A         B
Num
1    0.776119 -0.278078
2   -1.462912 -0.644274
3   -0.508323 -1.462391

In [41]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.776119 -0.278078
G2     -0.156558  0.476871